<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="org.evolution.pixelparts"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@drawable/ic_launcher_settings"
        android:label="@string/pixel_parts_title"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:exported="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <!-- PixelParts -->
        <activity
            android:name=".PixelPartsActivity"
            android:label="@string/pixel_parts_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_pixel_parts" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.homepage" />
            <meta-data android:name="com.android.settings.summary"
                android:resource="@string/pixel_parts_summary" />
        </activity>

        <activity
            android:name=".PixelParts"
            android:exported="false" />

        <!-- PixelParts boot completed receiver -->
        <receiver
            android:name=".Startup"
            android:exported="false">  
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- HBM service -->
        <service
            android:name=".services.HBMService"
            android:exported="false" />

        <!-- Auto HBM service -->
        <service
            android:name=".services.AutoHBMService"
            android:exported="false" />

        <!-- Jitter test activity -->
        <activity
            android:name=".uibench.JitterTestActivity"
            android:label="@string/jitter_test_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Power efficient workqueue tile service -->
        <service
            android:name=".services.PEWQTileSerice"
            android:label="@string/power_efficient_workqueue_title"
            android:icon="@drawable/ic_power_efficient_workqueue_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- HBM tile service -->
        <service
            android:name=".services.HBMTileService"
            android:label="@string/hbm_title"
            android:icon="@drawable/ic_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Auto HBM tile service -->
        <service
            android:name=".services.AutoHBMTileService"
            android:label="@string/auto_hbm_title"
            android:icon="@drawable/ic_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- USB 2.0 Fastcharge tile service -->
        <service
            android:name=".services.USB2FCTileService"
            android:label="@string/usb2_fast_charge_title"
            android:icon="@drawable/ic_usb2_fc_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Search Provider -->
        <provider
            android:name=".ConfigPanelSearchIndexablesProvider"
            android:authorities="org.evolution.pixelparts"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
