<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023-2024 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="org.evolution.pixelparts"
          android:versionCode="2"
          android:versionName="2.0" >

    <application
        android:icon="@drawable/ic_launcher_settings"
        android:label="@string/pixel_parts_title"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase"
        android:exported="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <receiver
            android:name=".Startup"
            android:exported="false">  
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Auto HBM activity -->
        <activity
            android:name=".autohbm.AutoHbmActivity"
            android:label="@string/auto_hbm_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/auto_hbm_summary" />
        </activity>

        <!-- Auto HBM service -->
        <service
            android:name=".autohbm.AutoHbmService"
            android:exported="false" />

        <!-- Auto HBM tile service -->
        <service
            android:name=".autohbm.AutoHbmTileService"
            android:label="@string/auto_hbm_title"
            android:icon="@drawable/ic_auto_hbm_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Battery info activity -->
        <activity
            android:name=".batteryinfo.BatteryInfoActivity"
            android:label="@string/battery_info_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/battery_info_summary" />
        </activity>

        <!-- Battery info tile service -->
        <service  
            android:name=".batteryinfo.BatteryInfoTileService"
            android:label="@string/battery_info_title"
            android:icon="@drawable/ic_battery_info_tile"
            android:exported="true"  
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Charge control activity -->
        <activity
            android:name=".chargecontrol.ChargeControlActivity"
            android:label="@string/charge_control_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/charge_control_summary" />
        </activity>

        <!-- Pixel torch activity -->
        <activity
            android:name=".pixeltorch.PixelTorchActivity"
            android:label="@string/pixel_torch_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.apps" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/pixel_torch_summary" />
        </activity>

        <!-- Pixel torch tile service -->
        <service
            android:name=".pixeltorch.PixelTorchTileService"
            android:label="@string/pixel_torch_title"
            android:icon="@drawable/ic_pixel_torch_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Saturation activity -->
        <activity
            android:name=".saturation.SaturationActivity"
            android:label="@string/saturation_title"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/saturation_summary" />
        </activity>

        <!-- Saturation tile service -->
        <service  
            android:name=".saturation.SaturationTileService"
            android:label="@string/saturation_title"
            android:icon="@drawable/ic_saturation_tile"
            android:exported="true"  
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Fast charge activity-->
        <activity
            android:name=".fastcharge.FastChargeActivity"
            android:label="@string/fast_charge_title"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.battery" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/fast_charge_summary" />
        </activity>

        <!-- Fast charge tile service -->
        <service
            android:name=".fastcharge.FastChargeTileService"
            android:label="@string/fast_charge_title"
            android:icon="@drawable/ic_fast_charge_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>
